.item-imagem {
  width: 512px;
  height: 328px;
  display: block;
}
.titulo {
  background-color: green;
  text-align: center;
  color: red;
  font-size: 32px;
}
.paragrafo {
  background-color: yellow;
  color: blue;
  font-size: 16px;
}
p {
  font-size: 12px;
}
.pi {
  color: blue;
}
.pp {
  color: green;
}
.exer8 {
  font-size: 34px;
  color: red;
}
.bodyexerc8 {
  background-color: yellow;
}
.item-turismo-imagem {
  width: 256px;
  height: 256px;
  float: left;
}
.item-turismo-titulo {
  color: blue;
}
.item-turismo-descricao {
  font-size: 14px;
}
.hexerc1-9 {
  text-align: center;
  background-color: green;
  font-size: 32px;
  color: red;
}
.pexerc1-9 {
  background-color: yellow;
  color: blue;
  font-size: 16px;
}
.lista-imagens {
  width: 512px;
  height: 328px;
  display: block;
}
.h1exerc1-13 {
  color: green;
  background-color: blue;
}
.bexerc1-13 {
  background-color: red;
}
.hexerc1-15 {
  font-size: 28px;
  margin-bottom: 8px;
  color: orange;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pexerc1-15 {
  font-size: 18px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pexerc1-16 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.bdexerc1-16 {
  margin: 0;
  background-color: grey;
}
.bdexerc1-17 {
  margin: 0;
  background-color: grey;
}
.dvexerc1-17 {
  margin: 0;
  background-color: white;
  width: 256px;
  margin: 8px;
  border-radius: 8px;
}
.h3exerc1-17 {
  margin: 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: bold;
  margin-top: 8px;
}
.exerc1-17 {
  margin: 0;
  padding: 8px;
}
.pexerc1-17 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 8px;
}
.iexerc1-17 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pexerc1-18 {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 32px;
}
.dvexerc1-19 {
  margin: auto;
  width: 400px;
  background-color: grey;
}
.pexerc1-19 {
  color: white;
}
.bdexerc1-19{
  background-color: black;
}